node_modules/
.idea/
.DS_Store
!/.gitignore
dev.json
local.json
development.json
staging.json
production.json
settings.json
**/.idea/workspace.xml **/.idea/tasks.xml
builder
**/.idea/workspace.xml **/.idea/tasks.xml
.idea/libraries/meteor_packages_auto_import_npm.xml
.idea/jsLibraryMappings.xml
.idea/netwise.iml
.idea/workspace.xml
.idea/libraries/meteor_packages_auto_import_browser.xml
.idea/workspace.xml
.idea/jsLibraryMappings.xml
.idea/netwise.iml
.idea/libraries/meteor_packages_auto_import_browser.xml
.idea/libraries/meteor_packages_auto_import_npm.xml
