.social-exposure {
  margin: 1rem;

  .alter {
    // TODO remove "css grid", no necessary here
    display: grid;
    grid-gap: 3rem;
    grid-template-areas: "img range";
    padding-right: 3rem;

    img {
      grid-area: img;
    }
    .range {
      grid-area: range;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
