.task-response {
  width: 50rem;
  margin: 3rem 0 0;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  form {
    width: 40rem;
  }
}

.task-actions {
  display: flex;
}

.task-actions button {
  border-radius: 0.3rem;
}