.admin {
  height: 100%;
  width: 100%;

  // display: grid;
  // grid-template-columns: auto;
  // grid-template-rows: 4rem auto;
  // grid-gap: 0;

  header {
    background-color: @admin-header-background-color;
    color: @admin-header-text-color;

    h1 {
      color: @admin-header-text-color;
    }

    nav {
      margin-top: 0.3rem;
      margin-left: 2rem;

      a {
        color: fade(@admin-header-nav-color, 50%);
        text-decoration: none;
        margin-right: 1rem;

        &.active {
          color: @admin-header-nav-color;
          // text-decoration: underline;
          // font-weight: bold;
          font-style: italic;
        }
      }
    }
  }

  main {
    overflow: auto;
    padding: 7rem 1.5rem;
  }

  .batches {
    // .new-batch {
    //   width: 50rem;
    // }

    .add-treatment {
      background-color: #eee;
      border-radius: 1rem;
      padding: 2rem;
      width: min-content;
      white-space: nowrap;

      select {
        margin-right: 1rem;
      }
    }

    table {
      td {
        text-transform: capitalize;
      }
    }
  }
}

.add-treatment-popover {
  padding: 1rem;
}

.new-batch {
  // .pt-numeric-input {
  //   width: 10rem;
  // }
  .pt-input-group .pt-input {
    width: 5rem;
  }
}
